<!DOCTYPE html>
<html lang="en" id="gcharts">
<head>
	<?=css_bundle("core", array('media'=>'all'))?>

	<link rel="shortcut icon" href="/favicon.ico" />
	<title>Charts</title>
</head>
<body id="gcharts-body" class='gcharts'>
  <?=$content_for_layout?>
  
  <div id="pie-example" style='height:300px; width:300px;'></div>
  
  <div id="area-example" style='height:300px; width:500px;'></div>
  
  
  
  <script src='http://www.google.com/jsapi?'  type='text/javascript'></script>
  <script type='text/javascript'>
    google.load('jquery', '1.5');
    google.load('visualization', '1', {'packages':['corechart']});
  </script>
  <?=js_bundle("example", array(), "gchart")?>  
  <?=js_bundle("core", array(), "gchart")?>
</body>
</html>